@charset "uft-8";
div#back{
    background-color: black;
}
div#link{
    text-align: right;
    vertical-align: top;
}
a#moji{
    color: floralwhite;
    background-color: yellowgreen;
}
p{
    text-align: center;
}
h1{
    text-align: center;
    color: floralwhite;
}