@charset "uft-8";
.hed{
    width: 80%;
    height: auto;
}
img{
    width: 200px;
    height: 200px;
}
p{
    text-align: center;
}
table{
    border-collapse: collapse;
}
tr#a{
    border: 2px solid slategray;
    width:300px;
    table-layout: fixed;
}

td#name{
    text-align: center;
}