@charset "utf-8";
.flex{
  position:relative;
  display:flex;
  background-color:black;
  z-index:0;
}
.flex.image{
  width:100px;
  margin:0;
  padding:0;
}
.flex.image img{
  width: 80%;
  height: auto;
}
h1{
  position:relative;
  margin: 50px;
  padding: 20px 0px 20px 150px;
  color:white;
  z-index:1;
}
table {
  margin-top: 50px;
}
