@charset "uft-8";
.flex{
    position:relative;
    display:flex;
    background-color:black;
    z-index:0;
    margin-right: 0%;
    padding-right: 0%;
}
.flex.image{
    width:100px;
    margin:0;
    padding:0;
}
.flex.image img{
    width: 80%;
    height: auto;
}
h1{
    position:relative;
    margin: 50px;
    padding: 20px 0px 20px 120px;
    color:white;
    z-index:1;
}
div#div{
    padding: 0px 0px 0px 700px;
}
a#hi{
    color: floralwhite;
    background-color: yellowgreen;
}
a#ab{
      color: floralwhite;
      background-color: blue;
}
.item {
    display: flex;
    margin: 20px;
    margin-right: 75%;
    border: 2px solid slategray;
}

.item-s {
    margin: 5px;
}

.kane {
    display: flex;
}

.color{
    color:blueviolet
}

.color-1{
    color:blueviolet
}
label{
    font-size: 50px;
}
/* div{
    border: 2px solid slategray;   
} */
/* p{
    text-align: center;
}
table{
    border-collapse: collapse;
}
tr#a{
    border: 2px solid slategray;
    width:300px;
    table-layout: fixed;
}

td#name{
    text-align: center;
} */
