@charset "uft-8";
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  padding-left: 400px;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 20%;
  height: 18%;
  position: absolute;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(19, 18, 18, 0.247);
  transition: .5s;
}

/* メニュー黒ポチを消す */
.nav_list {
  text-align: center;
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left:  900px;/* メニューを画面に入れる */
}
.flex{
    position: relative;
    display: flex;
    background-color: black;
    z-index:0;
}
.flex.image{
    width:100px;
    margin:0;
    padding:0;
  }
  .flex.image img{
    width: 80%;
    height: auto;
  }
  h1{
    position:relative;
    margin: 50px;
    padding: 20px 0px 20px 160px;
    color:white;
    z-index:1;
  }
div#a{
    border: solid 2px black;
    width: 500px;
    height: 200px;
    margin-top: 40px;
    margin-left: 390px;
}
.log{
    font-size: 20px;
    text-align: center;
    padding: 50px 5px;
}
a#b{
  color: #fff;
  text-decoration: none;
}
button{
  text-align: center;
  font-size: 25px;
  height: 50px;
  margin-left: 41%;
  width: 20%;
  background-color:dimgrey;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}