@charset "uft-8";
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 20%;
  height: 18%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(19, 18, 18, 0.247);
  transition: .5s;
}

/* メニュー黒ポチを消す */
.nav_list {
  text-align: center;
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left:  900px;/* メニューを画面に入れる */
}
.flex{
    position:relative;
    display:flex;
    background-color:black;
    z-index:0;
    margin-right: 0%;
    padding-right: 0%;
    justify-content: space-between;
  }
  div#div{
    margin: 0px 0px 0px 0px;
    margin-left: auto;
  }
  .flex.image{
    width:100px;
    margin:0;
    padding:0;
  }
  .flex.image img{
    width: 80%;
    height: auto;
  }
  div#link{
    text-align:right;
    padding: 0px 0px 0px 250px;
  }
  div#fm{
    text-align:center;
    margin-top: 5%;
    margin-left: 5%;
  }
  a{
    text-decoration: none;
    margin-left: auto;
    justify-content: flex-end;
  }
  div:last-child{
    margin-left: auto;
  }

div#link{
    text-align: right;
    vertical-align: top;
}
div#cart{
    text-align: center;
    border: 2px solid slategray;
    margin-left: 95%;
}
div#back{
    background-color: black;
}

div#kensaku{
    text-align:center;
    vertical-align: top;
}

h2{
    text-align:center;
    border: 2px solid slategray;
}


td#cate{
    text-align: center;
    border: 2px solid slategray;
    margin: 50%;
}
div#ranking{
    text-align:center;
    background-color: burlywood;
    border: 2px solid slategray;
    margin-left: 25%;
    margin-right: 25%;
    
}
img{
    /* margin-right: 25%; */
    width: 200px;
    /* height: 200px; */
}
img#rank{
    width: 80px;
    height: 80px;
}
ul#img{
    list-style: none;
    float: left;
    margin: 10px;
    padding: 10px;
}
ul#category{
    list-style: none;
    float: left;
    margin-left: 50px;
    padding: 10px;
}

td{
    table-layout: fixed;
}
a#b{
  color: #fff;
}